@import "tailwindcss";
body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.card {
  background: #fff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.done {
  text-decoration: line-through;
  color: gray;
}

button {
  margin-right: 5px;
}
